@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");
.boxLogin {
  width: 100%;
  min-height: 46px;
  border: 1px solid rgba(22, 24, 35, 0.22);
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  padding: 0 12px 0 0;
  cursor: pointer;

  .iconBox {
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(22, 24, 35, 0.22);
  }

  .textBox {
    margin-left: 12px;
    word-break: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    font-size: 15px;
    color: #161823;
    font-weight: 600;
  }
}

.footerLogin {
  justify-content: flex-start;
  height: 34px;
  background: #fff;
  border-top: 0.5px solid rgba(22, 24, 35, 0.19);
  display: flex;
  font-size: 15px;
  line-height: 18px;
  color: #161823;
  margin-top: 20px;
  padding-top: 15px;

  .register {
    color: #3cb371;
    margin-left: 10px;
    cursor: pointer;
  }
}

.boxInput {
  border-radius: 4px;
  position: relative;
  margin-top: 8px;
  background: rgba(22, 24, 35, 0.06);
  border: 1.5px solid rgba(22, 24, 35, 0.16);
  display: flex;
  justify-content: space-between;
  height: 44px;
  line-height: 44px;
  margin-top: 12px;
  box-sizing: content-box;
}

.textAreaComment {
  resize: none;
  overflow: hidden;
  padding: 10px 12px;
  min-height: 44px;
  height: 44px;
  width: 100%;
  outline: none;
  border-radius: 4px;
  direction: ltr;
  color: #161823;
  font-size: 16px;
  caret-color: #3cb371;
  background: transparent;
  border: none;
  font-family: "Georama", sans-serif;
  line-height: 1.5em;
  white-space: pre-wrap;
}

.field {
  padding-left: 12px;
  background: transparent;
  outline: none;
  border-radius: 4px;

  height: 100%;
  width: 100%;
  border: none;
  direction: ltr;
  color: #161823;
  font-size: 16px;
  caret-color: #3cb371;
}

.fieldBad {
  border: 1.5px solid rgba(233, 27, 37, 0.56);
}

.InputButton {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .divBox {
    border-radius: 4px 0px 0px 4px;
    border-right: none;
    width: 260px;
    position: relative;
    margin-top: 8px;
    background: rgba(22, 24, 35, 0.06);
    border: 1.5px solid rgba(22, 24, 35, 0.06);
    display: flex;
    justify-content: space-between;
    height: 44px;
    line-height: 44px;
    margin-top: 12px;
    box-sizing: content-box;
  }

  .inputBox {
    border-radius: 4px 0px 0px 4px;
  }

  .buttonBox {
    border-radius: 0px 4px 4px 0px;
    cursor: not-allowed;
    color: rgba(22, 24, 35, 1);
    background-color: #fff !important;
    border-color: rgba(22, 24, 35, 0.12) !important;
    margin-top: 12px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    background: #fff;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    border: 1px solid rgba(22, 24, 35, 0.12);
    white-space: nowrap;
    height: 47px;
    font-size: 16px;
    font-weight: bold;
  }

  .buttonDisabled {
    cursor: not-allowed;
    color: rgba(22, 24, 35, 0.28);
  }
}

.btnFacebook {
  background-color: #fff;
  font-size: 15px;
  color: #161823;
  font-weight: 600;
}

.linka {
  cursor: pointer;
}
